@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  75% {
    transform: translateY(0.75rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}

@keyframes scroll-y {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-300%);
  }
}

.animate-scroll {
  animation: scroll 1.5s infinite;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #A56B3C;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7A4C2C;
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-track {
  background: #1a1a1a;
}

.dark ::-webkit-scrollbar-thumb {
  background: #B9BA76;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #807F10;
}